{% extends "main.html" %}
{% block content %}

  <div class="row">
    <h1>Delete {{category.name}}?</h1>
  </div>
  <div class="row">
    <div class="col-md-1 padding-top delete">
      <form action="#" method="post">
        <button class="btn btn-danger" type="submit">
          <span class="glyphicon glyphicon-trash"> Delete</span>
        </button>
      </form>
    </div>
    <div class="col-md-8 padding-top">
      <a href="{{url_for('showCatalog')}}">
        <button class="btn btn-primary">
          <span class="glyphicon glyphicon-remove"> Cancel</span>
        </button>
      </a>
    </div>
  </div>
{% endblock %}
